body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #39393a;
}

.card {
    text-align: center;
    background-color: rgba(41, 41, 41, 0.355);
    padding: 80px 120px;
    border: none;
    border-radius: 6px;
    background: #56f058;
    font-size: 16px;
    cursor: pointer;
    
}
button:hover {background: #f7c704;}
